<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6wIjYyajC2il2DrRlWyWBnhyVC7-OhCM</string>
	<key>GCM_SENDER_ID</key>
	<string>828455135304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.netflixApp</string>
	<key>PROJECT_ID</key>
	<string>netflix-90cd1</string>
	<key>STORAGE_BUCKET</key>
	<string>netflix-90cd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828455135304:ios:4a476ceaf3ae983c30907d</string>
</dict>
</plist>